<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name = "Lumens Automation Suite">
<listeners>
<listener class-name="lumens.com.utils.TestListeners"></listener>
</listeners>
<test name = "HackthonTests">
<groups>
<run>
<include name="tests"></include>
</run>
</groups>
<classes>
<class name="lumens.com.tests.TestRunner">
</class>
</classes> 
</test>
</suite>